.card-header1
{
    width: 80%;
    height: 80px;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}

.card-header2{
    height: 80px;
    width: 80%;
    padding-top: 20px;
    margin-left: 30px;
    background-color: cadetblue;
    border-radius: 80px;
    color: white;
    border: none;
    padding-left: 50px;
/* max-width: 70rem; */
}
.card-header3
{
 
    width: 80%;
       height: 80px;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    background-color: cadetblue;
    color: white;
    border: none;
    padding-left: 50px;
}
.card-header4
{
    height: 80px;
    padding-top: 20px;
    width: 80%;
    margin-left: 50px;
    border-radius: 80px;
    background-color:cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header5

{
    height: 80px;
    padding-top: 20px;
    width: 80%;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header6

{
    height: 80px;
    width: 80%;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header7

{
    height: 80px;
    width: 80%;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header8

{
    height: 80px;
    padding-top: 20px;
    width: 80%;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header10

{
    height: 80px;
    width: 80%;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header11

{
    height: 80px;
    padding-top: 20px;
    width: 80%;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header12

{
    height: 80px;
    padding-top: 20px;
    width: 80%;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header13

{
    height: 80px;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    width: 80%;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header14

{
    height: 80px;
    padding-top: 20px;
    margin-left: 50px;
    width: 80%;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header15

{
    height: 80px;
    padding-top: 20px;
    width: 80%;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header16

{
    height: 80px;
    padding-top: 20px;
    width: 80%;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header17

{
    width: 80%;
    height: 80px;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    box-shadow: 20px 20px 20px; 
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header18
{
    height: 80px;
    width: 80%;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}.card-header19
{
    width: 80%;
    height: 80px;
    padding-top: 20px;
    margin-left: 50px;
    border-radius: 80px;
    background-color: cadetblue;
    color: white;
    border: none;
padding-left: 50px;
}
.card-header1:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    /* transition-delay: 5s; */
    
}

.card-header2:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;   
}

.card-header3:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}

.card-header4:hover
{
    width: 100%;
    transition: 2s;
    background-color: black;
    
}
.card-header5:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header5:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header6:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header7:hover
{
    width: 100%;
    transition: 2s;
    background-color: black;
    
}
.card-header8:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header10:hover
{
    width: 100%;
    transition: 2s;
    background-color: black;
    
}
.card-header11:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header12:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header13:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header14:hover
{
    width: 100%;
    transition: 2s;
    background-color: black;
    
}
.card-header15:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header16:hover
{
    width: 100%;
    transition: 2s;
    background-color: black;
    
}
.card-header17:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header18:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.card-header19:hover
{
    background-color: black;
    width: 100%;
    transition: 2s;
    
}
.container
{
    background-color: transparent;
}